.nav-container {
  width: auto;
  height: 60px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
}

.nav-array {
  border-right: 5px solid black;
  flex-grow: 1;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form-horizontal {
  display: flex;
}

.sort-slider {
  margin-right: 10px;
}

.sort-label {
  margin-right: 10px;
}

.btn {
  margin-right: 30px;
}

@media screen and (max-width:1280px) {
  .btn {
    margin-right: 10px;
    max-width: 80px;
    font-size: 12px;
  }
}