.arrayContainer {
  display: flex;
  width: 100%;
  padding: 120px 60px 30px 60px;
}

.arrayBody {
  display: grid;
  max-width: 100%;
  margin: 0 auto;
  min-height: 500px;
  justify-content: center;
  align-items: flex-end;
}

.arrayColumn {
  padding-top: 7px;
  text-align: center;
  font-family: sans-serif;
  font-weight: 700;
  color: #fff;
}

.columnNotSorted {
  background-color: rgba(66, 134, 244, 0.8);
}

.columnIsPivot {
  background-color: rgba(237, 234, 59, 0.8);
}

.columnCorrectPosition {
  background-color: rgba(78, 216, 96, 0.8);
}

.columnWrongPosition {
  background-color: rgba(219, 57, 57, 0.8);
}

.columnIsSorted {
  background-color: rgba(169, 92, 232, 0.8);
}


@media screen and (max-width: 800px) {
  .arrayContainer {
    padding-top: 0px;
  }
}
