.array {
  display: grid;
  height: 320px;
  margin-top: 120px;
  padding: 15px;
  grid-template-columns: repeat(100, 1fr);
  justify-content: center;
  align-items: end;
}

.array_col {
  background-color: black;
  margin: 2px;
}

.current {
  background-color: yellow;
}

.final {
  background-color: green;
}
