.nav-container {
  width: auto;
  height: 60px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
}

.nav-array {
  border-right: 5px solid black;
  flex-grow: 1;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sort_slider {
  margin-right: 10px;
}

.sort_label {
  margin-right: 10px;
}

.btn_sort {
  height: 50px;
  margin-right: 30px;
}