.footerAuthor {
  padding: 0 60px;
}

@media screen and (max-width: 1650px) {
  .footerAuthor {
    font-size: 14px;
  }
}

@media screen and (max-width: 1550px) {
  .footerAuthor {
    padding: 0 30px;
  }
}

@media screen and (max-width: 1250px) {
  .footerAuthor {
    font-size: 12px;
  }
}

@media screen and (max-width: 420px) {
  .footerAuthor {
    font-size: 10px;
  }
}
